.search {
  display: flex;
  position: relative;
  input,
  .search-btn {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include md {
      border-radius: 8px;
    }
  }

  input {
    max-width: 620px;
    height: 60px;
    padding: 0 1rem;
    width: 100%;
    outline: none;
    @include md {
      height: 40px;
    }
  }

  .search-btn {
    width: 60px;
    height: 60px;
    margin-left: 1rem;
    @include md {
      width: 40px;
      height: 40px;
    }
  }
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 8px;
  bottom: 10px;
  left: 14px;
  font-size: 11px;
  opacity: 1;

  @include md {
    top: 2px;
    font-size: 8px;
  }
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
  left: 14px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 14px;
  top: 18px;
  transition: 0.2s ease all;
  @include md {
    top: 8px;
  }
}

.search>div {
    width: 100%;
}